.filters-container {
    display: flex;
    width: 1392px;
    height: 36px;
    gap: 16px;
    opacity: 1;
  }
  
  .filter-button {
    width: 154px;
    height: 36px;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 100px ;
    border: 1px solid #000; 
    
    opacity: 1;
    background-color: #fff; 
    color: #000; 
    cursor: pointer;
  }
  
  .filter-button:hover {
    border-color: #000;
  }
  