.discover-container {
  padding: 20px;
  text-align: left;
  width: Fixed (1, 440px) px;
  height: Hug (3, 096px) px;
  padding: 96px 80px 96px 80px;
  gap: 96px;
  opacity: 0px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.experience-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.experience-card {
  position: relative;
  width: calc(50% - 20px);
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-card img {
  width: 100%;
  height: auto;
}

.card-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card-content h2 {
  font-size: 1.5em;
  margin: 0;
  align-items: center;
}

.card-content button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gift-cards-section {
  margin-top: 40px;
}

.gift-cards-section h2 {
  font-size: 1.5em;
}

.gift-cards-section button {
  padding: 10px 20px;
  background-color: #ff385c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .experience-card {
    width: 100%;
  }

  h1,
  .gift-cards-section h2 {
    font-size: 1.5em;
  }

  .card-content h2 {
    font-size: 1.2em;
  }
}
