.inspiration-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: Fixed (1, 440px) px;
  height: Hug (3, 096px) px;
  padding: 96px 80px 96px 80px;
  gap: 96px;
  opacity: 0px;
}

.inspiration-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: left;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
}

.tabs .active-tab {
  border-bottom: 2px solid black;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  text-align: left;
}

.destination {
  font-size: 16px;
}

.show-more {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: right;
  text-underline-offset: 1;
}
