.question-container {
  position: relative;
  background-image: url("https://a0.muscache.com/im/pictures/hosting/Hosting-U3RheVN1cHBseUxpc3Rpbmc6MTEzMTg2NzMzNDc0MDk1Nzg4NA%3D%3D/original/b676fc8d-8250-4df0-a7cb-728b0486e371.jpeg?im_w=1440&im_q=highq");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
   height: Hug (2500px)px;
  padding: 96px 80px 96px 80px;
  gap: 96px;
   opacity: 0px;

}

.question-content {
  text-align: center;
}

.question-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.ask-button {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: Hug (174px) px;
  height: Hug (56px) px;
  gap: 0px;
  opacity: 0px;
}

.ask-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .question-container {
    height: 300px;
  }

  .question-content h1 {
    font-size: 2em;
  }
}
